<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>

            <div class="modal-body">
      <form class="form-horizontal ng-pristine ng-valid" name="addChapterFm">
							<div class="form-group">
								<label class="col-md-2 ">Chapter Title</label>

							</div>
							<div class="form-group">
								<label class="col-md-2">Chapter Description</label>

							</div>
							<div class="form-group">
								<label class="col-md-2">Chapter Order</label>

							</div>

							      <div class="modal-footer">

							</div>
						</form>
						</div>
		
</body>
</html>